$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;

$blue: #31b0ec;
$text: #4b627a;
$green: #7ab55c;

@mixin hover-state {
  &:hover, &:active, &:focus {
    @content;
  }
}

@mixin transition {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

body {
  background-color: #f7f7f7;
  font-family: "soleil",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #344c67;
  font-weight: $light !important;
}

.fixed {
  position: fixed;
  padding-top: 0 !important;
  top: 30px;
}

.main-header {
  background-color: #344c67;
  //background: linear-gradient(to top, #08518e, #0e71a8);
  background-image: url("/images/pattern.png");
  background-repeat:no-repeat;
  background-size: 100% 100%;
  height: 200px;
  padding-top: 20px;
  color: #fff;
  .logo {
    display: inline-block;
    width: 70px;
    height:70px;
    border-radius: 1000px;
    background-color: $blue;
    margin-top: -12px;
    text-align: center;
  }

  h1 {
    display: inline-block;
    font-size: 21px;
  }
  button {
    background-color: transparent;
    border:1px solid #fff;
    color: #fff;
    border-radius: 3px !important;
    text-transform: uppercase;
    font-weight: $light;
  }
}

.main {
  margin-top: -85px;
  padding: 50px 0;
  .box {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.03), 0 1px 3px rgba(0,0,0,0.06);
    padding: 40px 35px;
    margin-bottom: 30px;
    .your-logo {
      border-radius: 3px;
      border: 2px dashed #e6e6e6;
      text-align: center;
      width: 125px;
      height: 125px;
      line-height: 18px !important;
      padding-top: 44px;
      background-color: #f2f6fa;

      @include transition;
      @include hover-state {
        cursor: pointer;
        background-color: #fafafa;
        @include transition;
      }
      input {
        display: none;
      }
    }
  }
}

.box-header {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
  span {
    color: #cccccc;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    display: inline-block;
    font-weight: $semibold;
  }
  h1 {
    font-size: 17px;
    margin-top: 0;
    font-weight: 400;
    display: inline-block;
    position: relative;
    //&:after {
    //  content: '';
    //  width: 100%;
    //  height: 3px;
    //  display: block;
    //  background-color: $blue;
    //  position: absolute;
    //}
  }
}

.box-content {
  padding: 30px 0 0 0;
}

label {
  font-weight: 300;
  color: rgba(52, 76, 103, 0.75);
}

::-webkit-input-placeholder {
  color: #b8c6d6 !important;
  font-weight: 200;
}
::-moz-placeholder {
  color: #b8c6d6 !important;
  font-weight: 200;
}
:-ms-input-placeholder {
  color: #b8c6d6 !important;
  font-weight: 200;
}
:-moz-placeholder {
  color: #b8c6d6 !important;
  font-weight: 200;
}

.form-control {
  background-color: #f2f6fa !important;
  border: 1px solid #e3eaf3 !important;
  box-shadow: none;
  transition: all .3s;
  height: 42px !important;
  color: #344c67;
  font-weight: 400;
  @include hover-state {
    box-shadow: none;
    border: 1px solid #cbd1da !important;
    transition: all .3s;
  }
}
.form-control[readonly] {
  background-color: rgba(237, 241, 245, 0.28) !important;
  border: 1px solid #edf1f5 !important;
  @include hover-state {
    box-shadow: none;
    border: 1px solid #edf1f5 !important;
  }
}

.grid-header {
  background-color: #e3eaf3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 0;
}

.grid-item {
  background-color: #f2f6fa;
  padding: 15px 0;
  border-bottom: 1px solid #e6ebef;
  &:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.delete-item {
  font-size: 20px;
  color: #344c67;
  line-height: 40px;
  background-color: #e3eaf3;
  position: absolute;
  right: 0;
  margin-right: -38px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 38px;
  height: 46px;
  text-align: center;
  display: none;
  @include hover-state {
    cursor: pointer;
  }
}

.grid-input {
  background-color: #fff !important;
}
.item-amount {
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
}

.addlinebutton {
  border:1px solid #e3eaf3;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 13px;
  margin-top: 20px;
  @include hover-state {
    box-shadow: none;
    outline: none;
  }
}

.right-box {
  padding-top: 70px;
  .form-control {
    background-color: #fff !important;
    border: 1px solid #d8d8d8 !important;
  }
}

a {
  color: #a8b6c1 !important;
}

.greybox {
  background-color: #efefef;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  h1 {
    font-size: 19px;
    margin-top: 0;
    font-weight: 500;
  }
}

.subtotal-row, .tax-row {
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 0;
  h1 {
    font-size: 15px;
    margin: 0;
    font-weight: 300;
    line-height: 22px;
  }
  span {
    font-weight: 400;
    font-size: 15px;
  }
}

.tax-row {
  border-bottom: 2px solid #cdd5e0;
  h1 {
    display: inline-block;
  }
  h2{
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    span {
      font-size: 15px;
      margin: 0;
      font-weight: 300;
    }
    .change-tax {
      font-size: 13px;
      color: #bdbdbd;
      @include hover-state{
        cursor: pointer;
        color: #a8a8a8;
      }
    }
  }
}

.total-row {
  h1 {
    font-size: 15px;
    margin: 0;
    line-height: 29px;
  }
  background-color: #f2f6fa;
  padding: 15px 0;
  span {
    font-weight: 600;
    font-size: 19px;
  }
}

#customtax {
  background-color: #fff !important;
  height: 30px !important;
  font-weight: 300;
  margin-top: 7px;
  display:none;
}




.ui-datepicker {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  display: none;
  margin-top: 4px;
  padding: 10px;
  width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
  text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
  color: #344c67;
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
  margin-bottom: 4px;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title {
  font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  cursor: default;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  height: 20px;
  line-height: 1;
  margin-top: 2px;
  width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
  float: left;
  text-align: left;
}
.ui-datepicker .ui-datepicker-next {
  float: right;
  text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
  content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
  content: "\e080";
}
.ui-datepicker .ui-icon {
  display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
  width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
  text-align: center;
  padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
  border-radius: 4px;
  -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
  background-color: #eee;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
  background-color: #344c67;
}
.ui-datepicker .ui-datepicker-current-day a {
  color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
  background-color: #fff;
  cursor: default;
}