body {
  background-color: #f2f2f2;
  font-family: "soleil",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #344c67;
  font-weight: 300 !important; }

.main-header {
  background-color: #344c67;
  height: 200px;
  padding-top: 20px;
  color: #fff; }
  .main-header .logo {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 1000px;
    background-color: #31b0ec;
    margin-top: -12px;
    text-align: center; }
  .main-header h1 {
    display: inline-block;
    font-size: 21px; }
  .main-header button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 3px !important;
    text-transform: uppercase;
    font-weight: 300; }

.main {
  margin-top: -85px;
  padding: 50px 0; }
  .main .box {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.03), 0 1px 3px rgba(0, 0, 0, 0.06);
    padding: 45px 35px;
    margin-bottom: 30px; }
    .main .box .your-logo {
      border-radius: 3px;
      border: 2px dashed #e6e6e6;
      text-align: center;
      width: 125px;
      height: 125px;
      line-height: 18px !important;
      padding-top: 44px;
      background-color: #f2f6fa;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
      .main .box .your-logo:hover, .main .box .your-logo:active, .main .box .your-logo:focus {
        cursor: pointer;
        background-color: #fafafa;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; }
      .main .box .your-logo input {
        display: none; }

.box-header {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px; }
  .box-header span {
    color: #cccccc;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    display: inline-block;
    font-weight: 600; }
  .box-header h1 {
    font-size: 17px;
    margin-top: 0;
    font-weight: 400;
    display: inline-block;
    position: relative; }

.box-content {
  padding: 30px 0 0 0; }

label {
  font-weight: 300;
  color: rgba(52, 76, 103, 0.75); }

::-webkit-input-placeholder {
  color: #b8c6d6 !important;
  font-weight: 200; }

::-moz-placeholder {
  color: #b8c6d6 !important;
  font-weight: 200; }

:-ms-input-placeholder {
  color: #b8c6d6 !important;
  font-weight: 200; }

:-moz-placeholder {
  color: #b8c6d6 !important;
  font-weight: 200; }

.form-control {
  background-color: #f2f6fa !important;
  border: 1px solid #e3eaf3 !important;
  box-shadow: none;
  transition: all .3s;
  height: 42px !important;
  color: #344c67;
  font-weight: 400; }
  .form-control:hover, .form-control:active, .form-control:focus {
    box-shadow: none;
    border: 1px solid #cbd1da !important;
    transition: all .3s; }

.form-control[readonly] {
  background-color: rgba(237, 241, 245, 0.28) !important;
  border: 1px solid #edf1f5 !important; }
  .form-control[readonly]:hover, .form-control[readonly]:active, .form-control[readonly]:focus {
    box-shadow: none;
    border: 1px solid #edf1f5 !important; }

.grid-header {
  background-color: #e3eaf3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 0; }

.grid-item {
  background-color: #f2f6fa;
  padding: 15px 0;
  border-bottom: 1px solid #e6ebef; }
  .grid-item:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

.delete-item {
  font-size: 20px;
  color: #344c67;
  line-height: 40px;
  background-color: #e3eaf3;
  position: absolute;
  right: 0;
  margin-right: -38px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 38px;
  height: 46px;
  text-align: center;
  display: none; }
  .delete-item:hover, .delete-item:active, .delete-item:focus {
    cursor: pointer; }

.grid-input {
  background-color: #fff !important; }

.item-amount {
  font-weight: 600;
  font-size: 19px;
  line-height: 40px; }

.addlinebutton {
  border: 1px solid #e3eaf3;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 13px;
  margin-top: 20px; }
  .addlinebutton:hover, .addlinebutton:active, .addlinebutton:focus {
    box-shadow: none;
    outline: none; }
