body {
  background-color: #f2f6fa;
  font-family: "soleil",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #344c67;
  font-weight: 300 !important; }

.fixed {
  position: fixed;
  padding-top: 0 !important;
  top: 30px; }

.main-header {
  background: url("/invoice/images/pattern.png"), linear-gradient(to top, #0d6093, #0e71a8);
  background-repeat: repeat;
  background-size: auto;
  height: 200px;
  padding-top: 20px;
  color: #fff; }
  .main-header .logo {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 1000px;
    background-color: #31b0ec;
    text-align: center; }
    .main-header .logo img {
      margin-top: 13px; }
  .main-header h1 {
    display: inline-block;
    font-size: 21px;
    vertical-align: middle; }
  .main-header button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 3px !important;
    text-transform: uppercase;
    font-weight: 300; }

.main {
  margin-top: -85px;
  padding: 50px 0; }
  .main .box {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.03), 0 1px 3px rgba(0, 0, 0, 0.06);
    padding: 40px 35px;
    margin-bottom: 30px; }
    .main .box .your-logo {
      border-radius: 3px;
      border: 2px dashed #e6e6e6;
      text-align: center;
      width: 125px;
      height: 125px;
      line-height: 18px !important;
      padding-top: 44px;
      background-color: #f2f6fa;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
      .main .box .your-logo:hover, .main .box .your-logo:active, .main .box .your-logo:focus {
        cursor: pointer;
        background-color: #fafafa;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; }
      .main .box .your-logo input {
        display: none; }

.box-header {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px; }
  .box-header span {
    color: #cccccc;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    display: inline-block;
    font-weight: 600; }
  .box-header h1 {
    font-size: 17px;
    margin-top: 0;
    font-weight: 400;
    display: inline-block;
    position: relative; }

.box-content {
  padding: 30px 0 0 0; }

label {
  font-weight: 300;
  color: rgba(52, 76, 103, 0.75); }

::-webkit-input-placeholder {
  color: #b8c6d6 !important;
  font-weight: 200; }

::-moz-placeholder {
  color: #b8c6d6 !important;
  font-weight: 200; }

:-ms-input-placeholder {
  color: #b8c6d6 !important;
  font-weight: 200; }

:-moz-placeholder {
  color: #b8c6d6 !important;
  font-weight: 200; }

.form-control {
  background-color: #f2f6fa !important;
  border: 1px solid #e3eaf3 !important;
  box-shadow: none;
  transition: all .3s;
  height: 42px !important;
  color: #344c67;
  font-weight: 400; }
  .form-control:hover, .form-control:active, .form-control:focus {
    box-shadow: none;
    border: 1px solid #cbd1da !important;
    transition: all .3s; }

.form-control[readonly] {
  background-color: rgba(237, 241, 245, 0.28) !important;
  border: 1px solid #edf1f5 !important; }
  .form-control[readonly]:hover, .form-control[readonly]:active, .form-control[readonly]:focus {
    box-shadow: none;
    border: 1px solid #edf1f5 !important; }

.grid-header {
  background-color: #e3eaf3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 0;
  margin-left: 0px;
  margin-right: 0; }

.grid-item {
  background-color: #f2f6fa;
  padding: 15px 0;
  border-bottom: 1px solid #e6ebef;
  margin-left: 0px;
  margin-right: 0; }
  .grid-item:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

.delete-item {
  font-size: 20px;
  color: #344c67;
  line-height: 40px;
  background-color: #e3eaf3;
  position: absolute;
  right: 0;
  margin-right: -31px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 46px;
  height: 46px;
  text-align: center;
  display: none; }
  .delete-item:hover, .delete-item:active, .delete-item:focus {
    cursor: pointer; }

.grid-input {
  background-color: #fff !important; }

.item-amount {
  font-weight: 400;
  font-size: 15px;
  line-height: 40px; }

.addlinebutton {
  border: 1px solid #e3eaf3;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 13px;
  margin-top: 20px; }
  .addlinebutton:hover, .addlinebutton:active, .addlinebutton:focus {
    box-shadow: none;
    outline: none; }

.right-box {
  padding-top: 70px; }
  .right-box .form-control {
    background-color: #fff !important;
    border: 1px solid #d8d8d8 !important; }

a {
  color: #a8b6c1 !important; }

.greybox {
  background-color: #e7edf3;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px; }
  .greybox h1 {
    font-size: 19px;
    margin-top: 0;
    font-weight: 500; }
  .greybox .btn {
    width: 100%;
    font-weight: 400;
    border-radius: 3px; }
  .greybox .btn-brand {
    background-color: #31b0ec;
    color: #fff; }
  .greybox .btn-light {
    border: 1px solid #31b0ec;
    color: #31b0ec;
    background-color: transparent;
    margin-top: 10px; }

.subtotal-row, .tax-row {
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 0;
  margin-right: 0; }
  .subtotal-row h1, .tax-row h1 {
    font-size: 15px;
    margin: 0;
    font-weight: 300;
    line-height: 22px; }
  .subtotal-row span, .tax-row span {
    font-weight: 400;
    font-size: 15px; }

.tax-row {
  border-bottom: 2px solid #cdd5e0; }
  .tax-row h1 {
    display: inline-block; }
  .tax-row h2 {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    margin: 0; }
    .tax-row h2 span {
      font-size: 15px;
      margin: 0;
      font-weight: 300; }
    .tax-row h2 .change-tax {
      font-size: 13px;
      color: #bdbdbd; }
      .tax-row h2 .change-tax:hover, .tax-row h2 .change-tax:active, .tax-row h2 .change-tax:focus {
        cursor: pointer;
        color: #a8a8a8; }

.total-row {
  background-color: #f2f6fa;
  padding: 15px 0;
  margin-right: 0; }
  .total-row h1 {
    font-size: 15px;
    margin: 0;
    line-height: 29px; }
  .total-row span {
    font-weight: 600;
    font-size: 19px; }

#customtax {
  background-color: #fff !important;
  height: 30px !important;
  font-weight: 300;
  margin-top: 7px;
  display: none; }

.invoice-overlay {
  position: fixed;
  background-color: rgba(40, 44, 53, 0.75);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none; }

.invoice-view {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 100000;
  padding: 50px 0;
  display: none; }
  .invoice-view .container {
    position: relative; }
    .invoice-view .container .invoice-paper {
      position: relative; }
      .invoice-view .container .invoice-paper .invoice-exit {
        background-color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 1000px;
        text-align: center;
        line-height: 30px;
        box-shadow: 0 0px 15px rgba(0, 0, 0, 0.25);
        position: absolute;
        z-index: 100;
        right: -15px;
        top: -15px; }
        .invoice-view .container .invoice-paper .invoice-exit:hover, .invoice-view .container .invoice-paper .invoice-exit:active, .invoice-view .container .invoice-paper .invoice-exit:focus {
          cursor: pointer; }
      .invoice-view .container .invoice-paper .invoice-paper-content {
        position: relative;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border-radius: 4px;
        outline: 0;
        -webkit-box-shadow: 0 3px 9px rgba(40, 54, 66, 0.52);
        box-shadow: 0 3px 9px rgba(40, 54, 66, 0.52); }
        .invoice-view .container .invoice-paper .invoice-paper-content .invoice-paper-head {
          background-color: #f2f6fa;
          padding: 30px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
          .invoice-view .container .invoice-paper .invoice-paper-content .invoice-paper-head h1 {
            font-weight: 700;
            font-size: 28px;
            display: inline-block;
            margin: 0;
            vertical-align: top; }
          .invoice-view .container .invoice-paper .invoice-paper-content .invoice-paper-head h2 {
            font-size: 17px; }
          .invoice-view .container .invoice-paper .invoice-paper-content .invoice-paper-head p {
            margin-bottom: 2px; }
          .invoice-view .container .invoice-paper .invoice-paper-content .invoice-paper-head #showinvoicenumber {
            background-color: #31b0ec;
            color: #fff;
            display: inline-block;
            padding: 5px 10px;
            border-radius: 100px;
            font-size: 16px;
            font-weight: 600;
            vertical-align: top;
            margin-left: 10px; }
        .invoice-view .container .invoice-paper .invoice-paper-content .invoice-paper-items {
          background-color: #fff;
          padding: 30px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px; }

.items-header {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0; }

.ui-datepicker {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  display: none;
  margin-top: 4px;
  padding: 10px;
  width: 240px; }

.ui-datepicker a,
.ui-datepicker a:hover {
  text-decoration: none; }

.ui-datepicker a:hover,
.ui-datepicker td:hover a {
  color: #344c67;
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out; }

.ui-datepicker .ui-datepicker-header {
  margin-bottom: 4px;
  text-align: center; }

.ui-datepicker .ui-datepicker-title {
  font-weight: 700; }

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  cursor: default;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  height: 20px;
  line-height: 1;
  margin-top: 2px;
  width: 30px; }

.ui-datepicker .ui-datepicker-prev {
  float: left;
  text-align: left; }

.ui-datepicker .ui-datepicker-next {
  float: right;
  text-align: right; }

.ui-datepicker .ui-datepicker-prev:before {
  content: "\e079"; }

.ui-datepicker .ui-datepicker-next:before {
  content: "\e080"; }

.ui-datepicker .ui-icon {
  display: none; }

.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
  width: 100%; }

.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
  text-align: center;
  padding: 4px 0; }

.ui-datepicker .ui-datepicker-calendar td {
  border-radius: 4px;
  -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out; }

.ui-datepicker .ui-datepicker-calendar td:hover {
  background-color: #eee;
  cursor: pointer; }

.ui-datepicker .ui-datepicker-calendar td a {
  text-decoration: none; }

.ui-datepicker .ui-datepicker-current-day {
  background-color: #344c67; }

.ui-datepicker .ui-datepicker-current-day a {
  color: #fff; }

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
  background-color: #fff;
  cursor: default; }
